---
title: Chocolate Fondants
categories: 
  - dessert
times:
  prep: 15
  cook: 10
  total: 25
serves: 4
ingredients: 
  - 125g butter
  - 125g dark chocolate
  - 150g sugar
  - 3 large eggs
steps: 
  - preheat the oven to 200C
  - add the butter and chocolate to a bowl over hot water and melt
  - beat the eggs in another bowl
  - grease 4 ramekins with extra butter and coat with sugar
  - when butter and chocolate is melted, stir into the eggs and add the flour.
  - divide the mixture  between the ramekins
  - cook for 10-12mins
source: https://www.greatbritishchefs.com/recipes/chocolate-fondant-recipe
---
    