---
title: Low Fodmap Chocolate Mug Cake
categories: 
  - cakes
times:
  prep: 5M
  cook: 1M
  total: 6M
serves: 1
ingredients: 
  - 2tbsp gluten free flour
  - 1tbsp brown sugar
  - 1tbsp dessicated coconut
  - 2tsp cocoa powder
  - 1/8tsp baking powder
  - 1 tbsp extra virgin olive oil
  - 2 tbsp almond milk
steps: 
  - Add all the dry ingredients to a mug and stir to mix
  - Add the oil and milk and mix well
  - Cook on high on the microwave for 1 minute
source: https://fodmapchallenge.com/recipes/chocolate-mug-cake/
---
    