---
title: Maple Pork Steaks
categories: 
  - dinner
times:
  prep: 10M
  cook: 20M
  total: 30M
serves: 2
ingredients: 
  - 2 Thick cut pork steaks
  - 1tbsp Olive oil
  - 0.5cup Beef stock
  - 0.33cup Maple syrup
  - 2tsp Red wine vinegar
  - 1tbsp Dijon mustard
  - 1tsp Rosemary (finely chopped)
  - 2tbsp Butter
steps: 
  - Preheat oven to 180C
  - Add oil to frying pan on high heat and sear the steaks on one side for 2 minutes
  - Turn over the steaks and put into the oven for ~8mins
  - In the meantime mix the stock, maple syrup, red wine vinegar, mustard and rosemary together
  - Remove steaks from the oven, take out of the pan and set to one side covered in foil.
  - Place pan back on the heat and add sauce ingredients
  - Stir on a high heat until reduced to a good consistency
  - Stir in butter
  - Add steaks back into sauce to coat them and serve
---