---
title: Slow Cooked Butter Chicken
source: https://www.thegoodbite.co.uk/recipes/slow-cooked-butter-chicken/
categories: dinner
diet: gluten free
serves: 4
image: https://www.thegoodbite.co.uk/wp-content/uploads/2021/12/IMG_8799-1200x800.jpg
ingredients:
  - 200 g full fat greek yoghurt
  - 1 tsp cumin
  - 1 tsp garam masala
  - 1 tsp turmeric
  - 1 tsp chilli powder
  - 1 tbsp ginger (grated)
  - 1 tbsp garlic (grated)
  - 500 g chicken thigh fillets
  - 30 g butter
  - 1 onion (finely chopped)
  - 1 tbsp ginger (grated)
  - 1 tbsp garlic (grated)
  - 1 tsp cumin
  - 1 tsp garam masala
  - 1 tsp turmeric
  - 1  tsp chilli powder
  - 2 tsp ground coriander
  - 400 ml chicken stock
steps:
  - Make the marinade - In a bowl mix full fat greek yoghurt, cumin, garam masala, turmeric, chilli powder, ginger and garlic.
  - Add the chicken thigh fillets to the marinade and leave for at least 1 hour, or overnight.
  - Add butter and onion to a pan and saute for 5-7 minutes
  - Add the ginger and garlic  and suate for 2 mins.
  - Add cumin, garam masala, turmeric, chilli powder and ground coriander cook for 1 min then add the chicken thighs and cook for 5-10 mins
  - Add chicken stock and bring to a low simmer
  - Cover with a lid and cook for 4 hours
  - After this time, if you want the sauce thicker, then turn up the heat and simmer to reduce.
---
