---
title: Sweet & Sticky Salmon Skewers
source: https://alittlebityummy.com/recipe/en-gb/low-fodmap-sweet-sticky-salmon-skewers-2/
categories: 
  - lunch
  - dinner
diet: low fodmap
serves: 4
ingredients:
  - 400g salmon
  - 2 tbsp garlic oil
  - 1.5 tsp crushed ginger
  - 3 tbsp maple syrup
  - 1 lime (zest and juice)
  - 2tbsp soy sauce
steps:
  - Debone and skin the salmon, then cut into 2.5cm (1 inch) cubes. 
  - In a bowl, mix together the garlic oil, crushed ginger, maple syrup, lime juice and zest, and soy sauce. 
  - Add the salmon and allow to marinate for 10 minutes.
  - Slide the salmon pieces onto skewers. 
  - Add the marinade into a pan and bring to a boil to reduce
  - Place skewers under a hot grill for ~8 minutes, turning halfway, and brushing the thickening marinade on throughout.
---
