---
title: tasty tasty treats yum 

categories: 
  - cakes
  times:
prep: 10m
cook: 20m
  total: 30m
serves: 1
ingredients: 
  - chocolate
  - cake
steps: 
  - eat the chocolate cake
source: 
--- 