---
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: "category/{{ category.title | slugify }}/"
title: {{ category.title }}
layout: layouts/base
---

<h1>{{ category.title }}</h1>
<ul>
{% for recipe in collections.recipes | include('data.categories', category.title) %}
    <li><a href="/recipes/{{ recipe.data.title | slugify }}/">{{ recipe.data.title }}</a></li>
{% endfor %}
</ul>
