---
layout: layouts/form
title: Import a Recipe
permalink:
  dynamic: "/import/"
secure: 
  authorizedUsers: true
---

{% if user %}
  <form action="/.netlify/functions/import-recipe" data-action="import">
      <label for="url">URL</label><br />
      <input type="text" name="url" id="url" style="width: 99vw; border 1px solid #ccc"/><br />
      <textarea type="hidden" name="data" style="width: 99vw; height: 80vh; border: 1px solid #ccc"></textarea>
    <p>
      <button type="submit">Submit</button>
    </p>
  </form>

  <script type="module">
    import { Recipe } from '/assets/js/recipe.js';

    const form = document.querySelector('form[data-action="import"]');

    const fetchRecipe = function(event) {
      event.preventDefault();
      console.log('time to go fetch the recipe');

      const url = form.querySelector('input[name="url"]').value;
      const resultField = form.querySelector('textarea[name="data"]');

      fetch(url, {
        method: 'GET',
      })
        .then((response) => {
          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${ response.status }`);
          }
          return response.text()
        })
        .then((text) => { 
          const parser = new DOMParser;
          const document = parser.parseFromString(text, "text/html");
          console.log(document);
          const structuredData = Array.from(document.querySelectorAll('script[type="application/ld+json"]'));
          const structuredDataJson = structuredData.map((node) => JSON.parse(node.innerHTML)).flat();
          // Look for a Recipe schema and return its ingredients if it exists     
          const recipeData = structuredDataJson.find((schema) => schema["@type"] == "Recipe")

          return(recipeData)
        })
        .then((recipeData) => {
            const recipeText = new Recipe().fromJson(recipeData).toYaml();
            resultField.value = recipeText;
        })
    } 

    form.addEventListener('submit', fetchRecipe );
  </script>

{% else %}
<p>You must login to import recipes</p>
<p>
<form action="/.netlify/functions/auth-before">
  <input type="hidden" name="securePath" value="/import/">
  <button type="submit" name="provider" value="github">Login with GitHub</button>
</form>
</p>
{% endif %}
