---
layout: layouts/base
title: Recipes
---
<h1>Recipes</h1>

<ul>
{% for recipe in collections.recipes %}
    <li><a href="/recipes/{{ recipe.data.title | slugify }}"/">{{ recipe.data.title }}</a></li>
{% endfor %}
</ul>

<h2>Categories</h2>
<ul>
{% for category in collections.categories %}
    <li><a href="/category/{{ category.title | slugify }}">{{ category.title }}</a></li>
{% endfor %}
</ul>

