---
title: Default Title
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
       main {
         max-width: 56ch;
         margin: 0 auto; 
       }
       ol li + li {
         margin-top: 1rem;
       }
    </style>
  </head>
  <body>
    <main id="#top">
    {{ content | safe }}
    </main>
  </body>
</html>
