<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
       header {
         display: flex;
         gap: 1rem;
        justify-content: flex-end;
        align-items: center;
       }
       .max-w-prose {
         max-width: 56ch;
       }
       .centered {
        margin-left: auto;
        margin-right: auto;
       }
       ol li + li {
         margin-top: 1rem;
       }
       nav ul { list-style-type: none; display: flex; gap: 1rem; }
    </style>
  </head>
